.menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #A37A78;
    padding: 0;
    border-radius: 0;
}

.ant-menu-horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
}

.ant-menu-horizontal .ant-menu-item,
.ant-menu-horizontal .ant-menu-submenu {
    margin: 0 60px;
    color: #ffffff !important;
}

.ant-menu-horizontal .ant-menu-item:hover,
.ant-menu-horizontal .ant-menu-submenu:hover {
    color: #ffffff !important;
}

.ant-menu-horizontal .ant-menu-submenu-title {
    padding: 0;
    color: white;
}