.ManageAccount {
    display: flex; 
    height: 100vh; 
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #ddd;
}

.Top {
    background-color: #303030;
    display: flex;
    position: absolute;
    justify-content: flex-end; 
    align-items: center;
    height: 60px;
    width: 100%;
    box-shadow: 1px 4px 5px rgba(1, 0, 0, 0.5);
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #318b45;
    margin-right: 10px;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: #f3f3f3;
}


.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0.1;
    color: #f3f3f3;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.Btn:active {
    transform: translate(2px, 2px);
}

.left-panel {
    flex: 1.5;
    background-color: #f5f5f5;
    padding: 20px;
    overflow-y: auto; 
    margin-top: 60px;  
}

.left-panel h2 {
    color: #333333; 
    margin-bottom: 20px; 
}

.left-panel ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.left-panel li {
    margin-bottom: 10px;
}

.left-panel a {
    text-decoration: none;
    color: #007bff; 
}

.left-panel a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .left-panel {
        margin-top: 0; 
        border-radius: 0;
        box-shadow: none; 
    }
}

.right-panel {
    flex: 8.5; 
    background-color: #e0e0e0;
    padding: 20px;
    overflow-y: auto;
    margin-top: 60px; 
}

.AdminAvatar {
    position: relative;
    display: inline-block; 
    margin-bottom: 20px;
}

.admininfo {
    position: absolute; 
    top: -6%; 
    left: 80%; 
    transform: translateX(-50%); 
    background-color: #fff; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    width: 8rem;
    height: 6rem;
}

.AdminAvatar:hover .admininfo {
    opacity: 1; 
}

.adminavatar {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%; 
}

.adminname {
    font-size: 24px;
    color: #333;
    margin-top: 0;
}

.AdminTableList {
    padding: 0;
    margin: 0;
    list-style-type: none;    
}

.AdminTableList li {
    padding: 10px 2px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.AdminTableList a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.AdminTableList a:hover {
    color: #318b45;
}

.AdminHeader {
    padding: 22px 10px;
    font-size: 24px;
    color: #303030;
    border: 2px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.AdminSummary {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.AdminContent {
    margin-top: 50px;
    padding: 4px;
    font-size: 18px;
}

.AdminContentDetails {
    background-color: floralwhite;
}

.OrderTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--black);
}

.OrderTable th,
.OrderTable td {
    padding: 8px;
    border: 1px solid #ddd;
}

.OrderTable th {
    background-color: tan;
    font-weight: bold;
    color: #303030;
}

.AdminTableList li img {
    margin-right: 10px;
}
