
.QuanLySanPham {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    font-family: Arial, sans-serif; /* Chọn font chữ thích hợp */
    background-color:#ddd; /* Màu nền */
}

/* Định dạng phần đầu trang */
.Top {
    width: 100%;
    height: 70px;
    background-color: #A37A78; /* Màu nền */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

/* Định dạng biểu tượng đăng xuất */
.LogoutOutlined {
    width: 40px;
    height: 40px;
    margin-left: 1620px;
    color: #303030; /* Màu biểu tượng */
}

/* Định dạng phần tiêu đề trang */
.AdminControlTable {
    margin-left: 14%;
    margin-top: 4%;
    font-size: 30px;
    color: #303030; /* Màu chữ */
    border: 2px solid #ddd; /* Đường viền */
    background-color:#A37A78; /* Màu nền */
    padding: 10px 20px;
    width: 82%; /* Thay đổi chiều rộng */
    max-width: 1400px; /* Chiều rộng tối đa */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

/* Định dạng phần hình ảnh và tên admin */
.AdminAvatar {
    display: flex;
    align-items: center;
}

.adminavatar {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.adminname {
    font-size: 18px;
    color: #333; /* Màu chữ */
}

.AdminTable {
    margin-left: 16px;
    height: 360px;
}
.AdminTableList {
    padding: 0;
    margin: 0;
}

.AdminTableList li {
    list-style-type: none;
    padding: 12px 10px; /* Tạo khoảng cách trên và dưới cho mỗi dòng */
    font-size: 18px; /* Điều chỉnh kích thước chữ */
    /* font-weight: lighter; In đậm */
    text-align: center;
    display: flex;
    margin-bottom: 10px;
}

.AdminTableList a {
    text-decoration: none; /* Loại bỏ gạch chân cho liên kết */
    color: #333; /* Màu chữ */
    transition: color 0.3s; /* Hiệu ứng chuyển đổi màu chữ */
    display: block;
}

.AdminTableList a:hover {
    color: #007bff; /* Màu chữ khi di chuột qua */
}

.qlsp{
    width: 370px;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 1); /* Đổ bóng */    
}
.qlsp a {
    font-weight: bold;
}
/* Định dạng phần tổng kết */
.AdminSummary {
    display: flex;
    justify-content: space-between; /* Hiển thị các phần tử cách đều nhau */
    margin-top: -358px;
    width: 80%; /* Thay đổi chiều rộng */
    max-width: 1200px; /* Chiều rộng tối đa */
    position: absolute;
    margin-left: 450px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 2px solid #ddd; /* Đường viền */
    width: 23%; /* Thay đổi chiều rộng */
    text-align: center;
    padding: 8px;
    background-color: #fff; /* Màu nền */
    border-radius: 20px; /* Bo tròn góc */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

li {
    padding: 10px;
    color: #555; /* Màu chữ */
}

/* Định dạng phần nội dung chính */
.AdminContent {
    margin-top: 6%;
    font-size: 24px;
    padding: 20px;
    background-color: #D2C7C4; /* Màu nền */
    border-radius: 5px; /* Bo tròn góc */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}
.AdminHeader {
    background-color:#D2C7C4;
}

.quanlykhachhang, .quanlysanpham, .quanlydonhang, .quanlydoanhthu, .quanlynhanvien {
    height: 30px;
    width: 30px;
    margin-left: -82%;
}
.AdminTableList li img {
    margin-right: 10px; /* Để tạo khoảng cách giữa hình ảnh và văn bản */
}

/* bắt đầu cái mới */
