.Menu {
    height: 55px;
    width: 1715px;
    position: absolute;
    margin-top: 12%;
    display: flex;
    grid-gap: 242px;
    margin-left: -5%;
    background-color: #A37A78;
}

.menuHome, .menuAlbum, .menuReviews, .menuNews, .menuContact {
    width: 0px;
    height: 30px;
    /* padding: 0px; */
    font-size: 22px;
    margin-left: 113px;}

/* .line {
    border-bottom: 1px solid black;
  } */
  