@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* Home.css */
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #FADCF9;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.Header_Search {
    display: flex;
    align-items: center;
    position: relative;
    left: 8%;
}

.Header_Search .ant-input {
    border-radius: 10px 0 0 10px;
    border-right: none;
    padding: 10px;
}

.Header_Search .ant-btn {
    border-radius: 0 4px 4px 0;
    background-color: rgba(0, 217, 255, 0.622);
    border: none;
    color: black;
    height: 42px;
}



.Header_Logo .logo1 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    left: -26%;
}

.Header_Name {
    font-size: 32px;
    font-weight: bold;
    margin-left: 15px;
    color: black;
    position: relative;
    align-items: center;
    justify-content: center;
    left: -50%;
    text-transform: uppercase;
}

.Header_Account_Cart {
    display: flex;
    align-items: center;
    position: relative;
    right: 6%;
    
}

.Header_Account_Cart .Usericon,
.Header_Account_Cart .Carticon {
    font-size: 26px;
    margin-left: 20px;
    cursor: pointer;
    color: black;
    
}
