.body {
    height: 100vh; /* Đảm bảo chiều cao bằng với cửa sổ trình duyệt */
    margin: 0; /* Đảm bảo không có lề xung quanh body */
    padding: 0; /* Đảm bảo không có padding xung quanh body */
}


.content {
    width: 100%;
    padding-top: 4%;
    height: calc(100vh - 100px); /* 100px là chiều cao của Header */
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
}

.welcome {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 24%;
}

.image-container {
    width: 360px;
    height: 210px;
    margin: 0 10px;
}

.image-text {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-weight: bold;
}

.logo1, .logo2, .logo3 {
    width: 360px;
    height: 360px;
}

.logo1 {
    margin-left: -20%;
}

.logo2 {
    margin-left: -16px;
}

.logo3 {
    margin-left: 10px;
}

.body {
    height: 100vh;
    overflow-y: auto;
}

.scroll-down-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.scroll-down-btn:hover {
    background-color: #555;
}

