.about-us-container {
    margin-left: 40px;
    margin-right: 40px;

}

.about-us-container h1{
    margin-top: 20px;
}
.about-item {
    display: flex;
    margin-bottom: 20px; 
}

.about-item.even {
    background-color: #f0f0f0; 
}

.about-item.odd {
    background-color: #ffffff;
}

.about-text {
    flex: 4; 
    order: 0; 
}

.about-item.even .about-image {
    order: 0; 
}

.about-item.even .about-text {
    margin-top: 20px;
}

.about-item.even .about-text h2 {
    margin-bottom: 20px;
}

.about-item.even .about-text p {
    text-align: justify;
    margin-right: 20px;
}

.about-item.odd .about-text {
    margin-top: 20px;
}

.about-item.odd .about-text h2 {
    margin-bottom: 20px;
}

.about-item.odd .about-text p {
    text-align: justify;
    margin-right: 20px;
}

.about-item img {
    max-width: 508px; 
    margin-right: 20px;
}
