*{
    margin: 0;
    padding: 0;
}
.sliderimage {
    display: flex;
    margin-top: 256px;
    justify-content: center;
}

.sliderimage img {
    max-width: 30%; 
    height: auto; 
    object-fit: cover;
    margin:0px; 
}

.titleimage{
    font-size: 24px; 
    display: flex;
    justify-content: center;
    margin-top: -16%;
    color: rgba(0, 0, 0, 0.595);
}